/* Ensure class names match those in the HTML */
.editor-container {
  display: block;
  flex-grow: 1;    /* Automatically fill all remaining space */
  width: 100%;
  height: 100%;
  border: 1px solid #333;
}

/* Basic fixes for Monaco Editor internals */
ngx-monaco-editor {
  width: 100%;
  height: 100%;
}

/* Current execution line background color (uses ::ng-deep to bypass Angular View Encapsulation for Monaco Editor) */
::ng-deep .current-line-highlight {
  background-color: rgba(255, 255, 0, 0.2) !important;
}
::ng-deep .current-line-glyph {
  background-color: rgba(255, 255, 0, 0.5) !important;
}
