:root {
  /* Typographic Scale (assuming 1rem = 16px) */
  --text-xs: 0.75rem;    /* 12px */
  --text-sm: 0.8125rem;  /* 13px */
  --text-base: 0.875rem; /* 14px */
  --text-lg: 1rem;       /* 16px */
  --text-xl: 1.125rem;   /* 18px */
  --text-2xl: 1.375rem;  /* 22px */
  
  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 500;
  --weight-bold: 700;

  /* Font Families */
  --font-sans: Roboto, "Helvetica Neue", sans-serif;
  --font-mono: 'Consolas', 'Courier New', monospace;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: var(--font-sans);
  font-size: var(--text-base);
}

.mat-app-background {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}