html,
body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-app-background {
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}